a{
    color: #005be6;
}
a:hover{
    color: #0065ff;
    text-decoration: none;
}

hr {
    border: none;
    height: 1px;/* Set the hr color */
    color: #333;/* old IE */
    background-color: #333;/* Modern Browsers */
    margin-bottom: 20px;
}

.nav-container{
    padding-left: 200px;
    padding-right: 200px;
}

.dropdown {
    display: inline-block;
    color: black;
}

.btn-default{
    background-color: black;
    color: #e6e6e6;
}

.welcome-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #e6e6e6;
    padding: 30px 20px 0 0;
    display: inline-block;
    float: right;
}

.home, .account{
    display: inline-block;
    padding: 5px;
}

.home span, .account span{
    color: white;
}

.home span:hover, .account span:hover{
    color: #0065ff;
}

.main-title{
    color: #e6e6e6;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    margin: auto;
    float: left;
    padding: 20px;
}

.search{
    padding-top: 200px;
    margin: auto;
    text-align: center;
}

.search input[type="text"]{
    width: 300px;
}

.registration, .auction-container{
    padding-top: 100px;
}

.auction-container{
    font-size: 16px;
}

.auction-table td{
    padding: 5px 10px;
}


.login, .inner-container{
    padding-top: 200px;
}
.registration fieldset, .login fieldset, .inner-container fieldset{
    margin: auto;
    display: block;
}

h3{
    font-size: 22px;
    padding-bottom: 5px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 20px;
    text-align: center;
}

h6{
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.inner-container table{
    margin: auto;
    display: block;
}

p{
    padding: 20px 30px;
}

td, th{
    padding: 5px;
}

.user-info{
    font-size: 16px;
}


.registration fieldset input, .login fieldset input, .inner-container fieldset input{
    margin: 5px;
}

.submit-button{
    padding-top: 15px;
    text-align: center;
    margin: auto;
}

.help-toc{
    font-size: 16px;
}